<!doctype html>
<html lang="ja">
    <head>
        <!-- マージン、ハディング、背景色を設定するcssを定義 -->
        <style>
            .pad{
                background-color: lavender;
                border: solid 2px;
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 100px;
                margin-top: 50px;
                margin-right: 70px;
                margin-left: 70px
            }
        </style>
    </head>

    <body>
        <div class="pad">
            <h2>Training Lab</h2>
            <h4>Please enter your password twice to confirm correctly.</h4>
            <br />
            <!-- set form -->
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Reset Password"/>
            </form>
        </div>
    </body>
</html>