{% extends 'base.html' %}
{% block title %}Send password reset{% endblock %}

{% block contents %}
<hr>
<div class="container">
    <div class="row">
        <div class="col offset-2 py-4">
            <h5>I have sent the password reset form to your email.</h5>
            <br>
            <h6>If you do not receive email, Please check the registerd email address and your spam folder.</h6>
            <br>
            <a href="{% url 'photo:index' %}">Training Lab</a>
        </div>
    </div>
</div>
{% endblock %}