{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col py-4">
            <hr>
            <h3>Reset your password?</h3>
            <p>Please enter the registered email address. then, we'll send you password reset email soon.</p>
            <br>
            <form action="" method="POST" class="text-center">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Recieve email" /><br>
            </form>
            <br>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
