{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}

{% block contents %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col offset-3">
                <form method="POST">
                    <br>
                    <p>Is it okay to delete?</p>
                    {% csrf_token %}
                    <button class="btn btn-danger my-2" type="submit">Delete</button>
                    <a href="{% url 'photo:photo_detail' object.pk %}" class="btn btn-secondary my-2">Cancel</a>
            </div>
        </div>
    </div>
{% endblock %}


